<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.dao.game.mapper.GameMapper">

    <resultMap id="GameResultMap" type="ru.rerumu.lists.dao.game.impl.GameDTO">
        <constructor>
            <idArg column="gameId" name="gameId"/>
            <arg column="userId" name="userId"/>
            <arg column="title" name="title"/>
            <arg column="insert_date" name="insertDate"/>
            <arg column="note" name="note"/>
        </constructor>
    </resultMap>

    <select id="findByUser" parameterType="ru.rerumu.lists.domain.user.User" resultMap="GameResultMap">
        select  g.game_id as gameId,
                g.title,
                u.USER_ID as userId,
                u.name,
                u.password,
                g.insert_date,
                g.note
        from    games g
                inner join users u
                            on u.USER_ID = g.user_user_id
        where u.USER_ID=#{userId}
    </select>

    <insert id="create" parameterType="ru.rerumu.lists.dao.game.impl.GameDTO">
        insert into games(game_id, user_user_id, title, insert_date, note)
        values(#{gameId}, #{userId}, #{title}, #{insertDate}, #{note})
    </insert>

    <select id="getNextId" resultType="Long">
        SELECT nextval('game_id_seq');
    </select>

    <select id="findById" parameterType="Long" resultMap="GameResultMap">
        select  g.game_id as gameId,
                g.title,
                u.USER_ID as userId,
                u.name,
                u.password,
                g.insert_date,
                g.note
        from    games g
                inner join users u
                on u.USER_ID = g.user_user_id
        where g.game_id=#{id}
          and g.user_user_id = #{userId}
    </select>

    <delete id="delete">
        delete from games
        where game_id=#{id}
          and user_user_id = #{userId}
    </delete>



</mapper>