<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.dao.game.mapper.GameMapper">

    <resultMap id="GameResultMap" type="ru.rerumu.lists.domain.game.Game">
        <constructor>
            <idArg column="gameId" javaType="Integer"/>
            <arg column="title" javaType="String"/>
            <arg resultMap="UserResultMap" javaType="ru.rerumu.lists.domain.user.User"/>
            <arg column="createDateUTC" javaType="java.time.LocalDateTime"/>
            <arg column="note" javaType="String"/>
        </constructor>
    </resultMap>

    <resultMap id="UserResultMap" type="ru.rerumu.lists.domain.user.User">
        <constructor>
            <idArg column="userId" javaType="Long"/>
            <arg column="name" javaType="String"/>
            <arg column="password" javaType="String"/>
        </constructor>
    </resultMap>

    <select id="findByUser" parameterType="ru.rerumu.lists.domain.user.User" resultMap="GameResultMap">
        select  g.game_id as gameId,
                g.title,
                u.USER_ID as userId,
                u.name,
                u.password,
                g.insert_date as createDateUTC,
                g.note
        from    games g
                inner join users u
                            on u.USER_ID = g.user_user_id
        where u.USER_ID=#{userId}
    </select>

    <insert id="create" parameterType="ru.rerumu.lists.domain.game.Game">
        insert into games(game_id, user_user_id, title, insert_date, note)
        values(#{gameId},#{user.userId},#{title},#{createDateUTC}, #{note})
    </insert>

    <select id="nextval" resultType="Integer">
        SELECT nextval('game_id_seq');
    </select>

    <select id="findById" parameterType="Integer" resultMap="GameResultMap">
        select  g.game_id as gameId,
                g.title,
                u.USER_ID as userId,
                u.name,
                u.password,
                g.insert_date as createDateUTC,
                g.note
        from    games g
                inner join users u
                on u.USER_ID = g.user_user_id
        where g.game_id=#{gameId}
    </select>

    <delete id="delete">
        delete from games
        where game_id=#{id}
    </delete>



</mapper>