<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.mappers.AuthorBookMapper">

    <resultMap id="AuthorBookResultMap" type="ru.rerumu.lists.model.AuthorBookRelation">
        <association property="book"
                     javaType="ru.rerumu.lists.model.Book"
                     column="{bookId=book_book_id,readListId=readListId}"
                     select="ru.rerumu.lists.mappers.BookMapper.getOne"
        />
        <association property="author"
                     javaType="ru.rerumu.lists.model.Author"
                     column="{authorId=author_author_id,readListId=readListId}"
                     select="ru.rerumu.lists.mappers.AuthorMapper.getOne"
        />
    </resultMap>

    <delete id="deleteByAuthor">
        delete from lists.books_authors
        where author_author_id=#{authorId}
    </delete>

    <insert id="add">
        insert into lists.books_authors(book_book_id, book_list_id, author_author_id, author_list_id)
        values(#{bookId},#{readListId},#{authorId},#{readListId})
    </insert>

    <select id="getByBookId" resultMap="AuthorBookResultMap">
        select  ba.book_book_id,
                ba.book_list_id as readListId,
                ba.author_author_id
        from lists.books_authors ba
        where ba.book_book_id = #{bookId}
    </select>

</mapper>