<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.mappers.AuthorMapper">

    <resultMap id="AuthorResultMap" type="ru.rerumu.lists.model.Author">
        <result column="author_id" property="authorId" />
        <result column="author_list_id" property="readListId" />
        <result column="author_name" property="name"/>
    </resultMap>


    <select id="getOne" resultMap="AuthorResultMap">
        select  a.author_id,
                a.list_list_id as author_list_id,
                a.name as author_name
        from lists.authors a
        where a.author_id=#{authorId}
        and a.list_list_id=#{readListId}
    </select>

</mapper>