<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.mappers.BookMapper">

<!--    <resultMap id="BookResultMap" type="ru.rerumu.lists.model.book.BookDTO">-->
<!--        <result column="book_id" property="bookId" />-->
<!--        <result column="list_list_id" property="readListId" />-->
<!--        <result column="title" property="title" />-->
<!--        <result column="status_id" property="bookStatus" />-->
<!--        <result column="insert_date" property="insertDate" />-->
<!--        <result column="last_update_date" property="lastUpdateDate" />-->
<!--        <result column="last_chapter" property="lastChapter" />-->
<!--        <result column="type_id" property="bookType" />-->
<!--    </resultMap>-->

    <resultMap id="BookStatusResultMap" type="ru.rerumu.lists.model.BookStatus_">
        <result column="status_id" property="statusId" />
        <result column="status_name" property="name" />
    </resultMap>

    <resultMap id="BookDTOResultMap" type="ru.rerumu.lists.model.book.BookDTO">
<!--        <constructor>-->
<!--            <idArg column="book_id" name="bookId"/>-->
<!--            <arg column="book_list_id" name="readListId"/>-->
<!--            <arg column="book_title" name="title"/>-->
<!--            <arg column="book_status_id_old" name="bookStatus"/>-->
<!--            <arg column="book_insert_date" name="insertDate"/>-->
<!--            <arg column="book_last_update_date" name="lastUpdateDate"/>-->
<!--            <arg column="last_chapter" name="lastChapter"/>-->
<!--            <arg column="book_type_id" name="bookType"/>-->
<!--            <arg column="book_note" name="note"/>-->
<!--            <arg name="bookTypeObj" resultMap="ru.rerumu.lists.mappers.BookTypeMapper.BookTypeDTOResultMap"/>-->
<!--            <arg name="bookStatusObj" resultMap="ru.rerumu.lists.mappers.BookStatusMapper.BookStatusResultMap"/>-->
<!--            <arg name="readingRecords" columnPrefix="rr_" resultMap="ru.rerumu.lists.mappers.ReadingRecordMapper.ReadingRecordResultMap"/>-->
<!--        </constructor>-->
        <id property="bookId" column="book_id" javaType="Long"/>
        <result  property="readListId" column="book_list_id" javaType="Long"/>
        <result  property="title" column="book_title" javaType="String"/>
        <result  property="bookStatus" column="book_status_id_old" javaType="Integer"/>
        <result  property="insertDate" column="book_insert_date" javaType="Date"/>
        <result  property="lastUpdateDate" column="book_last_update_date" javaType="Date"/>
        <result  property="lastChapter" column="last_chapter" javaType="Integer"/>
        <result  property="note" column="book_note" javaType="String"/>
        <association property="bookTypeObj" resultMap="ru.rerumu.lists.mappers.BookTypeMapper.BookTypeDTOResultMap"/>
        <association property="bookStatusObj" resultMap="ru.rerumu.lists.mappers.BookStatusMapper.BookStatusResultMap"/>
    </resultMap>



    <resultMap id="BookOrderedDTOResultMap" type="ru.rerumu.lists.model.dto.BookOrderedDTO">
        <result  property="order" column="book_series_order" javaType="Integer"/>
        <association
                property="bookDTO"
                resultMap="BookDTOResultMap"
        />
    </resultMap>


    <resultMap id="BookDTOChainedResultMap" type="ru.rerumu.lists.model.book.BookDTO">
        <id property="bookId" column="book_id" javaType="Long"/>
        <result  property="readListId" column="book_list_id" javaType="Long"/>
        <result  property="title" column="book_title" javaType="String"/>
        <result  property="bookStatus" column="book_status_id_old" javaType="Integer"/>
        <result  property="insertDate" column="book_insert_date" javaType="Date"/>
        <result  property="lastUpdateDate" column="book_last_update_date" javaType="Date"/>
        <result  property="lastChapter" column="last_chapter" javaType="Integer"/>
        <result  property="note" column="book_note" javaType="String"/>
        <association property="bookTypeObj" resultMap="ru.rerumu.lists.mappers.BookTypeMapper.BookTypeDTOResultMap"/>
        <association property="bookStatusObj" resultMap="ru.rerumu.lists.mappers.BookStatusMapper.BookStatusResultMap"/>
        <collection
                property="previousBooks"
                ofType="ru.rerumu.lists.model.dto.BookOrderedDTO"
                resultMap="BookOrderedDTOResultMap"
                columnPrefix="previous_"
        />
    </resultMap>

    <resultMap id="UserResultMap" type="ru.rerumu.lists.model.User">
        <constructor>
            <idArg column="user_id" name="userId" javaType="Long"/>
            <arg column="name" name="name" javaType="String"/>
            <arg column="password" name="password" javaType="String"/>
        </constructor>
    </resultMap>

    <sql id="selectBooks">
        select  b.book_id,
                b.list_list_id as book_list_id,
                b.title as book_title,
                s.STATUS_ID as book_status_id_old,
                b.insert_date AT TIME ZONE 'UTC' as book_insert_date,
                b.last_update_date AT TIME ZONE 'UTC' as book_last_update_date,
                b.last_chapter,
                bt.type_id as book_type_id,
                bt.name as book_type_name,
                s.STATUS_ID as book_status_id,
                s.NAME as book_status_name,
                b.note as book_note

        from books b
                inner join statuses s
                on s.STATUS_ID= b.status_status_id
                left outer join lists.book_types bt
                                on bt.type_id = b.type_type_id
    </sql>

    <select id="getBookStatus">
        select s.key_name
        from statuses
        where STATUS_ID=#{statusId}
    </select>


    <select id="getOne" resultMap="BookDTOResultMap">
        <include refid="selectBooks"/>
        where b.book_id=#{bookId}
    </select>

    <select id="getAll" resultMap="BookDTOResultMap">
        <include refid="selectBooks"/>
        WHERE b.list_list_id=#{readListId}
    </select>

    <select id="getAllChained" resultMap="BookDTOChainedResultMap">
        <![CDATA[
            with s_prev as
            (
                with s_top as
                (
                    select max(sb.series_order) as top_order,
                           sb.series_series_id
                    from books b
                        inner join  series_books sb
                                on sb.book_book_id = b.book_id
                    group by sb.series_series_id
                )
                select b.book_Id as join_id,
                    b.title,
                    b2.book_id,
                    b2.list_list_id as book_list_id,
                    b2.title as book_title,
                    s.STATUS_ID as book_status_id_old,
                    b2.insert_date AT TIME ZONE 'UTC' as book_insert_date,
                    b2.last_update_date AT TIME ZONE 'UTC' as book_last_update_date,
                    b2.last_chapter,
                    bt.type_id as book_type_id,
                    bt.name as book_type_name,
                    s.STATUS_ID as book_status_id,
                    s.NAME as book_status_name,
                    b.note as book_note,
                    max(sb.series_order) over (partition by sb.series_series_id) as mtop,
				    sb2.series_order
                from books b

                     inner join series_books sb
                                on sb.book_book_id = b.book_id
                     inner join s_top
                                on s_top.series_series_id = sb.series_series_id
                                and s_top.top_order = sb.series_order
                     inner join series_books sb2
                                on sb2.series_series_id = sb.series_series_id
                     inner join books b2
                                on b2.book_id = sb2.book_book_id
                                and b2.book_Id != b.book_id
                     inner join statuses s
                                on s.STATUS_ID= b2.status_status_id
                     left outer join book_types bt
                                    on bt.type_id = b2.type_type_id

                order by b.book_id,  sb2.series_order desc

            ), s_wo_chain as
            (
              select b.book_id
              from books b

              except

              select sb.book_book_id
                from series_books sb
            )
            select  b.book_id,
                    b.list_list_id as book_list_id,
                    b.title as book_title,
                    s.STATUS_ID as book_status_id_old,
                    b.insert_date AT TIME ZONE 'UTC' as book_insert_date,
                    b.last_update_date AT TIME ZONE 'UTC' as book_last_update_date,
                    b.last_chapter,
                    bt.type_id as book_type_id,
                    bt.name as book_type_name,
                    s.STATUS_ID as book_status_id,
                    s.NAME as book_status_name,
                    b.note as book_note,
                    s_prev.book_id as previous_book_id,
                    s_prev.book_list_id as previous_book_list_id,
                    s_prev.book_title as previous_book_title,
                    s_prev.book_status_id_old as previous_book_status_id_old,
                    s_prev.book_insert_date as previous_book_insert_date,
                    s_prev.book_last_update_date as previous_book_last_update_date,
                    s_prev.last_chapter as previous_last_chapter,
                    s_prev.book_type_id as previous_book_type_id,
                    s_prev.book_type_name as previous_book_type_name,
                    s_prev.book_status_id as previous_book_status_id,
                    s_prev.book_status_name as previous_book_status_name,
                    s_prev.book_note as previous_book_note,
					s_prev.series_order as previous_book_series_order
            from books b

                    inner join statuses s
                                on s.STATUS_ID= b.status_status_id
                    inner join s_prev
                                    on s_prev.join_id = b.book_id
                    left outer join book_types bt
                                    on bt.type_id = b.type_type_id


            WHERE b.list_list_id=#{readListId}

            union all

            select  b.book_id,
                    b.list_list_id as book_list_id,
                    b.title as book_title,
                    s.STATUS_ID as book_status_id_old,
                    b.insert_date AT TIME ZONE 'UTC' as book_insert_date,
                    b.last_update_date AT TIME ZONE 'UTC' as book_last_update_date,
                    b.last_chapter,
                    bt.type_id as book_type_id,
                    bt.name as book_type_name,
                    s.STATUS_ID as book_status_id,
                    s.NAME as book_status_name,
                    b.note as book_note,
                    null as previous_book_id,
                    null as previous_book_list_id,
                    null as previous_book_title,
                    null as previous_book_status_id_old,
                    null as previous_book_insert_date,
                    null as previous_book_last_update_date,
                    null as previous_last_chapter,
                    null as previous_book_type_id,
                    null as previous_book_type_name,
                    null as previous_book_status_id,
                    null as previous_book_status_name,
                    null as previous_book_note,
					null as previous_book_series_order
            from books b

                    inner join statuses s
                                on s.STATUS_ID= b.status_status_id
                    inner join s_wo_chain
                                    on s_wo_chain.book_id = b.book_id
                    left outer join book_types bt
                                    on bt.type_id = b.type_type_id
            WHERE b.list_list_id=#{readListId}
        ]]>
    </select>

    <update id="update">
        update books
        set title=#{title},
            status_status_id=#{statusId},
            insert_date=#{insertDate},
            last_update_date=#{lastUpdateDate},
            last_chapter = #{lastChapter},
            type_type_id = #{bookTypeId},
            note = #{note}
        where book_id=#{bookId}
        and list_list_id=#{readListId}
    </update>

    <update id="updateAuthor">
        update books_authors
        set author_author_id=#{authorId},
            author_list_id=#{authorListId}
        where book_book_id=#{bookId}
        and book_list_id=#{readListId}
    </update>

    <select id="getNextId" resultType="Long">
        select max(book_id)+1 as res
        from books
    </select>

    <insert id="addOne">
        insert into books(book_id, list_list_id, status_status_id, insert_date, last_update_date, title, last_chapter, type_type_id, note)
        values(#{bookId}, #{readListId},#{statusId}, #{insertDate}, #{lastUpdateDate}, #{title}, #{lastChapter}, #{bookTypeId}, #{note})
    </insert>

    <delete id="delete">
        delete from books
        where book_id=#{bookId}
    </delete>

    <select id="getBookUser" resultMap="UserResultMap">
        select
            user_id,
            name,
            password
        from books b
            inner join lists l
                on l.list_id = b.list_list_id
            inner join users u
                on u.user_id = l.USER_USER_ID
        where b.book_id=#{bookId}
    </select>

</mapper>