<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.mappers.BookTypeMapper">

    <resultMap id="BookTypeResultMap" type="ru.rerumu.lists.model.BookType">
        <id property="id" column="book_type_id"  />
        <result property="name" column="book_type_name"  />
    </resultMap>


    <select id="findById" resultMap="BookTypeResultMap">
        select bt.type_id as book_type_id,
                bt.name as book_type_name
        from lists.book_types bt
        where bt.type_id=#{id}
    </select>

    <select id="findAll" resultMap="BookTypeResultMap">
        select bt.type_id as book_type_id,
        bt.name as book_type_name
        from lists.book_types bt
    </select>

</mapper>