<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.mappers.BookMapper">

    <resultMap id="BookResultMap" type="ru.rerumu.lists.model.Book">
        <id property="bookId" column="book_id"  />
        <result property="readListId" column="list_list_id"  />
        <result property="title" column="title" />
<!--        <result property="statusId" column="status_status_id" />-->
<!--        <result column="status_name" property="bookStatus" />-->
        <result property="bookStatus" column="key_name"  javaType="ru.rerumu.lists.model.BookStatus"/>
        <result property="insertDate" column="insert_date"  />
        <result property="lastUpdateDate" column="last_update_date"  />
        <result property="lastChapter" column="last_chapter"  />
<!--        <result column="author_author_id" property="authorId" />-->
<!--        <result column="series_series_id" property="seriesId" />-->
<!--        <result column="series_order" property="seriesOrder" />-->

<!--        <association property="bookStatus"-->
<!--                     javaType="ru.rerumu.lists.model.BookStatus"-->
<!--                     column="{statusId=status_status_id}"-->
<!--                     select="getBookStatus"-->
<!--        />-->
<!--        <association property="bookStatus" resultMap="BookStatusResultMap" />-->
<!--        <association property="author" resultMap="ru.rerumu.lists.mappers.AuthorMapper.AuthorResultMap" />-->
    </resultMap>

    <resultMap id="BookStatusResultMap" type="ru.rerumu.lists.model.BookStatus_">
        <result column="status_id" property="statusId" />
        <result column="status_name" property="name" />
    </resultMap>

    <sql id="selectBooks">
        select  b.book_id,
                b.list_list_id,
                b.title,
                s.key_name,
                b.insert_date AT TIME ZONE 'UTC' as insert_date,
                b.last_update_date AT TIME ZONE 'UTC' as last_update_date,
                b.last_chapter
        from lists.books b
                inner join lists.statuses s
                on s."STATUS_ID"= b.status_status_id
    </sql>

    <select id="getBookStatus">
        select s.key_name
        from lists.statuses
        where "STATUS_ID"=#{statusId}
    </select>


    <select id="getOne" resultMap="BookResultMap">
        <include refid="selectBooks"/>
        where b.book_id=#{bookId}
    </select>

    <select id="getAll" resultMap="BookResultMap">
        <include refid="selectBooks"/>
        WHERE b.list_list_id=#{readListId}
    </select>

    <update id="update">
        update lists.books
        set title=#{title},
            status_status_id=#{statusId},
            insert_date=#{insertDate},
            last_update_date=#{lastUpdateDate},
            last_chapter = #{lastChapter}
        where book_id=#{bookId}
        and list_list_id=#{readListId}
    </update>

    <update id="updateAuthor">
        update lists.books_authors
        set author_author_id=#{authorId},
            author_list_id=#{authorListId}
        where book_book_id=#{bookId}
        and book_list_id=#{readListId}
    </update>

    <select id="getNextId" resultType="Long">
        select max(book_id)+1 as res
        from lists.books
    </select>

    <insert id="addOne">
        insert into lists.books(book_id, list_list_id, status_status_id, insert_date, last_update_date, title, last_chapter)
        values(#{bookId}, #{readListId},#{statusId}, #{insertDate}, #{lastUpdateDate}, #{title}, #{lastChapter})
    </insert>

</mapper>