<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.mappers.BookStatusMapper">

    <resultMap id="BookStatusResultMap" type="ru.rerumu.lists.model.BookStatusRecord">
        <constructor>
            <idArg column="book_status_id" name="statusId" javaType="Integer"/>
            <arg column="book_status_name" name="statusName" javaType="String"/>
        </constructor>
    </resultMap>


    <select id="findById" resultMap="BookStatusResultMap">
        select s.STATUS_ID as book_status_id,
                s.NAME as book_status_name
        from statuses s
        where s.STATUS_ID=#{id}
    </select>

    <select id="findAll" resultMap="BookStatusResultMap">
        select s.STATUS_ID as book_status_id,
                s.NAME as book_status_name
        from statuses s
    </select>

</mapper>
