<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.mappers.UserMapper">

    <resultMap id="UserResultMap" type="ru.rerumu.lists.model.User">
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="password" property="password"/>
    </resultMap>


    <select id="getOne" resultMap="UserResultMap">
        select "USER_ID" as user_id,
                name,
                password
        from lists.users
        where name=#{name}
    </select>

    <select id="count" resultType="int">
        select count(*) as cnt
        from lists.lists l
             inner join lists.users u
                        on u."USER_ID" = l."USER_USER_ID"
        where l.list_id=#{listId}
          and u.name=#{name}
    </select>

</mapper>