<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.dao.book.readingrecord.mapper.ReadingRecordMapper">

    <resultMap id="ReadingRecordResultMap" type="ru.rerumu.lists.domain.book.readingrecords.ReadingRecordDTO">
        <constructor>
            <idArg column="recordId" name="recordId" javaType="java.lang.Long"/>
            <arg column="bookId" name="bookId" javaType="java.lang.Long"/>
            <arg resultMap="BookStatusResultMap" name="bookStatus" javaType="ru.rerumu.lists.domain.book.readingrecords.status.BookStatusRecord"/>
            <arg column="startDate" name="startDate" javaType="java.time.LocalDateTime"/>
            <arg column="endDate" name="endDate" javaType="java.time.LocalDateTime"/>
            <arg column="isMigrated" name="isMigrated" javaType="java.lang.Boolean"/>
            <arg column="last_chapter" name="lastChapter" javaType="java.lang.Long"/>
        </constructor>
    </resultMap>

    <resultMap id="BookStatusResultMap" type="ru.rerumu.lists.domain.book.readingrecords.status.BookStatusRecord">
        <constructor>
            <idArg column="statusId" javaType="java.lang.Integer"/>
            <arg column="statusName" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <select id="findByBookId" resultMap="ReadingRecordResultMap">
        select  rr.record_id as recordId,
                rr.book_book_id as bookId,
                s.status_id as statusId,
                s.name as statusName,
                rr.start_date as startDate,
                rr.end_date as endDate,
                rr.is_migrated as isMigrated,
                rr.last_chapter
        from reading_records rr
            inner join statuses s
                on s.status_id = rr.status_status_id
        where rr.book_book_id = #{bookId}
    </select>

    <select id="findByBookIds" resultMap="ReadingRecordResultMap">
        select  rr.record_id as recordId,
                rr.book_book_id as bookId,
                s.status_id as statusId,
                s.name as statusName,
                rr.start_date as startDate,
                rr.end_date as endDate,
                rr.is_migrated as isMigrated,
                rr.last_chapter
        from reading_records rr
            inner join statuses s
                on s.status_id = rr.status_status_id
        <where>
            <foreach collection="bookIds" index="index" item="item" open="rr.book_book_id in (" separator="," close=")" >
                #{item}
            </foreach>
        </where>
    </select>

    <select id="findById" resultMap="ReadingRecordResultMap">
        select  rr.record_id as recordId,
                rr.book_book_id as bookId,
                s.status_id as statusId,
                s.name as statusName,
                rr.start_date as startDate,
                rr.end_date as endDate,
                rr.is_migrated as isMigrated,
                rr.last_chapter
        from reading_records rr
            inner join statuses s
                on s.status_id = rr.status_status_id
        where rr.record_id = #{id}
    </select>

    <select id="getNextId" resultType="long">
        select nextval('series_id_seq')
    </select>

    <insert id="create" parameterType="ru.rerumu.lists.domain.book.readingrecords.impl.ReadingRecordImpl">
        insert into reading_records(record_id, book_book_id, status_status_id, start_date, end_date, is_migrated, last_chapter)
        values(#{recordId}, #{bookId}, #{bookStatus.statusId}, #{startDate}, #{endDate}, #{isMigrated}, #{lastChapter})
    </insert>

    <update id="update">
        update reading_records
        set status_status_id=#{bookStatus.statusId},
            start_date=#{startDate},
            end_date=#{endDate},
            last_chapter = #{lastChapter}
        where record_id=#{recordId}
    </update>

    <delete id="delete">
        delete from reading_records
        where record_id=#{id}
    </delete>

</mapper>