<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.dao.book.mapper.AuthorBookRelationMapper">

<!--    <resultMap id="book" type="ru.rerumu.lists.model.book.impl.BookImpl">-->

<!--    </resultMap>-->

<!--    <resultMap id="author" type="ru.rerumu.lists.model.author.impl.AuthorImpl">-->

<!--    </resultMap>-->

<!--    <resultMap id="AuthorBookResultMap" type="ru.rerumu.lists.model.AuthorBookRelation">-->
<!--        <constructor>-->
<!--            <arg resultMap="book" javaType="ru.rerumu.lists.model.book.impl.BookImpl"/>-->
<!--            <arg resultMap="author" javaType="ru.rerumu.lists.model.author.impl.AuthorImpl"/>-->

<!--        </constructor>-->
<!--&lt;!&ndash;        <association property="book"&ndash;&gt;-->
<!--&lt;!&ndash;                     javaType="ru.rerumu.lists.model.book.impl.BookImpl"&ndash;&gt;-->
<!--&lt;!&ndash;                     column="{bookId=book_book_id,readListId=readListId}"&ndash;&gt;-->
<!--&lt;!&ndash;                     select="ru.rerumu.lists.dao.book.BookMapper.getOne"&ndash;&gt;-->
<!--&lt;!&ndash;        />&ndash;&gt;-->
<!--&lt;!&ndash;        <association property="author"&ndash;&gt;-->
<!--&lt;!&ndash;                     javaType="ru.rerumu.lists.model.author.impl.AuthorImpl"&ndash;&gt;-->
<!--&lt;!&ndash;                     column="{authorId=author_author_id,readListId=readListId}"&ndash;&gt;-->
<!--&lt;!&ndash;                     select="ru.rerumu.lists.dao.author.mapper.AuthorMapper.getOne"&ndash;&gt;-->
<!--&lt;!&ndash;        />&ndash;&gt;-->
<!--    </resultMap>-->

    <delete id="deleteByAuthor">
        delete from books_authors
        where author_author_id=#{authorId}
    </delete>

    <delete id="delete">
        delete from books_authors
        where author_author_id=#{authorId}
            and book_book_id = #{bookId}
    </delete>

    <insert id="add">
        insert into books_authors(book_book_id, book_user_id, author_author_id, author_user_id, roleId)
        values(#{bookId},#{userId},#{authorId},#{userId}, #{roleId})
    </insert>

<!--    <select id="getByBookId" resultMap="AuthorBookResultMap">-->
<!--        select  ba.book_book_id,-->
<!--                ba.book_list_id as readListId,-->
<!--                ba.author_author_id-->
<!--        from books_authors ba-->
<!--        where ba.book_book_id = #{bookId}-->
<!--    </select>-->

    <select id="getAuthorsByBookId" resultType="Long">
        select
            ba.author_author_id
        from
            books_authors ba
        where
            ba.book_book_id = #{bookId}
    </select>

</mapper>