<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.dao.book.mapper.AuthorBookRelationMapper">

    <resultMap id="AuthorBookResultMap" type="ru.rerumu.lists.dao.book.AuthorBookDto">
        <result column="book_book_id" property="bookId"/>
        <result column="user_id" property="userId"/>
        <result column="role_role_id" property="roleId"/>
        <association property="authorDtoDao" resultMap="AuthorDtoResultMap"/>
    </resultMap>

    <resultMap id="AuthorDtoResultMap" type="ru.rerumu.lists.dao.author.AuthorDtoDao">
        <id property="authorId" column="author_id"/>
        <result property="name" column="author_name"/>
        <association property="user" resultMap="UserDtoResultMap"/>
    </resultMap>

    <resultMap id="UserDtoResultMap" type="ru.rerumu.lists.dao.user.UserDtoDao">
        <id property="userId" column="author_user_id"/>
        <result property="name" column="author_user_name"/>
    </resultMap>

    <delete id="deleteByAuthor">
        delete from books_authors
        where author_author_id=#{authorId}
    </delete>

    <delete id="delete">
        delete from books_authors
        where author_author_id=#{authorId}
            and book_book_id = #{bookId}
    </delete>

    <insert id="add">
        insert into books_authors(book_book_id, book_user_id, author_author_id, author_user_id, role_role_id)
        values(#{bookId},#{userId},#{authorId},#{userId}, #{roleId})
    </insert>

    <select id="getAuthorsByBookId" resultType="Long">
        select
            ba.author_author_id
        from
            books_authors ba
        where
            ba.book_book_id = #{bookId}
    </select>

    <select id="getByUserId" resultMap="AuthorBookResultMap">
        select
            ba.book_book_id,
            ba.role_role_id,
            ba.book_user_id as user_id,
            a.author_id,
            a.name as  author_name,
            u.user_id as author_user_id,
            u.name as author_user_name
        from
            books_authors ba
                inner join authors a
                    on a.author_id = ba.author_author_id
                inner join users u
                    on u.user_id = a.user_user_id
        where
            ba.book_user_id = #{userId}
    </select>

</mapper>