<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.rerumu.lists.dao.tag.mapper.BookTagMapper">

    <resultMap id="TagResultMap" type="ru.rerumu.lists.dao.tag.BookTagDTO">
        <constructor>
            <idArg name="bookTagId" column="book_tag_id" javaType="Long"/>
            <arg name="bookBookId" column="book_book_id" javaType="Long"/>
            <arg name="bookUserId" column="book_user_id" javaType="Long"/>
            <arg name="tagTagId" column="tag_tag_id" javaType="Long"/>
            <arg name="tagUserId" column="tag_user_id" javaType="Long"/>
        </constructor>
    </resultMap>

    <delete id="delete">
        <![CDATA[
            delete from books_tags
            where
                tag_tag_id = #{tagId}
                and book_book_id = #{bookId}
        ]]>
    </delete>

    <insert id="add">
        <![CDATA[
            insert into books_tags (book_tag_id, book_book_id, book_user_id, tag_tag_id, tag_user_id)
            values (#{bookTagId}, #{bookBookId}, #{bookUserId}, #{tagTagId}, #{tagUserId})
        ]]>
    </insert>

    <select id="nextval" resultType="Long">
        SELECT nextval('books_tags_id_seq');
    </select>

</mapper>